/* Playlist */
.playlist {
  min-width: 20rem;

  &__header {
    font-family: $headingFont, sans-serif;
    font-size: 1.8rem;
  }

  &__download {
    @extend .dark-button;
  }

  &__item {
    padding: .5rem .25rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  &__item-note {
    font-style: italic;
    min-height: 2rem;
    text-align: right;
  }

  &__item-image-edit > *{
    align-content: center;
    display: inline-flex;
  }

  &__item-image {
    box-shadow: 1px 1px 10px #222;
    height: 8rem;
  }

  &__item-image span {
    overflow-x: scroll;
    width: 10rem;
  }

  &__item:first-child {
    background-color: #fff;
    font-weight: bold;
    font-size: 2rem;
    list-style: none;
  }
}
