/* Search List */
.searchlist {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;

  [alt] {
    // Placeholder css if no image available
    background-color: $light-green;
    color: $light-green; //alt text color
    text-align: center;
    font-style: italic;
    background: url('no_cover.png') no-repeat center center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1rem 0;

    &-image {
      @extend .maintain-aspect-ratio;
      border: 3px solid #fff;
      box-shadow: 1px 1px 10px #222;
    }
  }

  &__tracks {
    border-radius: .25rem;
    display: flex;
    flex: 0 0 12rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: .75rem;
    transition: all 500ms ease-in-out;
  }

  &__tracks > * {
    align-items: center;
    margin: .25rem;
    border-radius: .25rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 .5rem;
  }

  &__details {
    cursor: pointer;
    max-width: 10rem;

    &.on ~ .searchlist__tracks {
      flex:2;
    }
  }

  &__details  ~ &__tracks {
    flex: 0;
  }



}
