<button ng-click="song.login()" class="login" >Login with Spotify</button>

<ul class="searchlist">
  <li ng-repeat="result in song.searchResults | limitTo:3" class="searchlist__item">
    <div ng-class="{'on':result.tracks}" class="searchlist__details" ng-click="song.getTracks(result.id)">
      <img class="searchlist__item-image" ng-src="{{result.images[1].url}}" alt="{{result.album.name}} {{result.name}}">
      <h3>{{result.name}}</h3>
      </div>

      <ol class="searchlist__tracks alt-rows">
        <li ng-repeat="songTrack in result.tracks track by songTrack.id " class="searchlist__track">
          <span ng-click="ply.add(songTrack)">{{songTrack.track}}</span>
          <audio-players song="songTrack"></audio-players>
        </li>
      </ol>
  </li>
</ul>
